<div id="books-index">
	<div class="row">
		<div class="col-md-3 col-sm-3">
			<h3>Ruby On Rails Power</h3>
			<%= image_tag('covers/Ruby on Rails Image.png')%>
			<%=link_to 'Read More', book_path(1), class:'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
			<h3>Spiderman</he>
			<%= image_tag('covers/spider_man.png')%>
			<%=link_to 'Read More', book_path(2),
				class:'btn btn-primary' %>	
		</div>
		<div class="col-md-3 col-sm-3">
			<h3>Duende Verde</he>
			<%= image_tag('covers/duende_verde.png')%>
			<%=link_to 'Read More', book_path(3),
				class:'btn btn-primary' %>	
		</div>
		<div class="col-md-3 col-sm-3">
			<h3>Koji Kabuto</he>
			<%= image_tag('covers/koji.jpg')%>
			<%=link_to 'Read More', book_path(4),
				class:'btn btn-primary' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-3">
			<h3>Spiderman</he>
			<%= image_tag('covers/spider_man.png')%>
			<%=link_to 'Read More', book_path(2),
				class:'btn btn-primary' %>	
		</div>
		<div class="col-md-3 col-sm-3">

		</div>
		<div class="col-md-3 col-sm-3">

		</div>
		<div class="col-md-3 col-sm-3">

		</div>
	</div>
</div>						